# Python Challenge

## No.1

### 1,2,3,4,5,6,7,8,9,56,43,45,2,56354,2431,77,874,212,456,3322,85,865,34,7,6,53325,467,976,754,532,32,568,0,9654,5422,2 ; even=?

In [10]:

#get the number of even and odd number



numbers = (1,2,3,4,5,6,7,8,9,56,43,45,2,56354,2431,77,874,212,456,3322,85,865,34,7,6,53325,467,976,754,532,32,568,0,9654,5422,2) 
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
    	     count_even+=1
        else:
    	     count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 22
Number of odd numbers : 14

## No.2
### 3.2=Aquarius ; 11.7=scorpio ; 12.31=?

In [13]:


##get the Astrological sign

day = int(input("Input date of birth: "))
month = input("Input month of birth : ")
if month == '12':
    astro_sign = 'Sagittarius' if (day < 22) else 'capricorn'
elif month == '1':
    astro_sign = 'Capricorn' if (day < 20) else 'aquarius'
elif month == '2':
    astro_sign = 'Aquarius' if (day < 19) else 'pisces'
elif month == '3':
    astro_sign = 'Pisces' if (day < 21) else 'aries'
elif month == '4':
    astro_sign = 'Aries' if (day < 20) else 'taurus'
elif month == '5':
    astro_sign = 'Taurus' if (day < 21) else 'gemini'
elif month == '6':
    astro_sign = 'Gemini' if (day < 21) else 'cancer'
elif month == '7':
    astro_sign = 'Cancer' if (day < 23) else 'leo'
elif month == '8':
    astro_sign = 'Leo' if (day < 23) else 'virgo'
elif month == '9':
    astro_sign = 'Virgo' if (day < 23) else 'libra'
elif month == '10':
    astro_sign = 'Libra' if (day < 23) else 'scorpio'
elif month == '11':
    astro_sign = 'scorpio' if (day < 22) else 'sagittarius'
print("Your Astrological sign is :",astro_sign)

Input date of birth: 31
Input month of birth : 12
Your Astrological sign is : capricorn

## No.3
### 2000=dragon ; 2001=snake ; 2002=horse ; 2003=sheep ; 2023=?

In [14]:


##get Chinese Zodiac sign of the year

year = int(input("Input your birth year: "))
if (year - 2000) % 12 == 0:
    sign = 'Dragon'
elif (year - 2000) % 12 == 1:
    sign = 'Snake'
elif (year - 2000) % 12 == 2:
    sign = 'Horse'
elif (year - 2000) % 12 == 3:
    sign = 'sheep'
elif (year - 2000) % 12 == 4:
    sign = 'Monkey'
elif (year - 2000) % 12 == 5:
    sign = 'Rooster'
elif (year - 2000) % 12 == 6:
    sign = 'Dog'
elif (year - 2000) % 12 == 7:
    sign = 'Pig'
elif (year - 2000) % 12 == 8:
    sign = 'Rat'
elif (year - 2000) % 12 == 9:
    sign = 'Ox'
elif (year - 2000) % 12 == 10:
    sign = 'Tiger'
else:
    sign = 'Hare'

print("Your Zodiac sign :",sign)

Input your birth year: 2023
Your Zodiac sign : Hare

## No.4
### olleh=hello ; yadirf=friday ; ssalc 2gnidoc si siht ih=?

In [15]:


#reverse the words


word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: ssalc 2gnidoc si siht ih
hi this is coding2 class

## No.5
### 45=113 ; 20=68 ; 11=52 ; 37F=?

In [16]:


#let 37 degrees write fahrenheit

temp = input("Input the  temperature you like to convert? (e.g., 45F,45C) : ")
degree = int(temp[:-1])
i_convention = temp[-1]

if i_convention.upper() == "C":
  result = int(round((9 * degree) / 5 + 32))
  o_convention = "Fahrenheit"
elif i_convention.upper() == "F":
  result = int(round((degree - 32) * 5 / 9))
  o_convention = "Celsius"
else:
  print("Input proper convention.")
  quit()
print("The temperature in", o_convention, "is", result, "degrees.")

Input the  temperature you like to convert? (e.g., 45F,45C) : 37F
The temperature in Celsius is 3 degrees.

## No.6
### 2022.10.19=292 ; 2021.1.8=8 ; 2024.7.8=190 ; 2001.8.24=?

In [17]:


#The input date calculation is the day of the year

year = int(input('which year'))
month = int(input('which month'))
day = int(input('which day'))

months = [0,31,59,90,120,151,181,212,243,273,304,334] 

if 0 < month <= 12:
    
    sum = months [month-1]
    
else:
    
    print('invalid month!')
    
sum += day

leap = 0  

if (year % 400 == 0 ) or ((year %4 == 0)and (year % 100 != 0)):
    
    leap = 1 
    
if (leap ==1) and (month > 2 ):
    
    sum += 1
    
print(sum)

which year2001
which month8
which day24
236

## No.7
### 2022=no ; 2021=no ; 2000=yes ; 2008=yes ; 1980=?

In [18]:


#Enter the year to determine whether it is a leap year

year = int(input('which year'))

if (year % 4==0 and year % 100 != 0) or year % 400 ==0:
    
    print ('yes')
    
else:
    print('no')

which year1980
yes

## No.8
### This is a very popular brain teaser for Chinese children. There are some chickens and rabbits in a cage. There are 35 heads and 94 feet in total. How many chickens and rabbits are there?

In [19]:


for i1 in range (0,36):
    for i2 in range (0,36):
        if i1+i2 ==35 and i1*2 +i2*4 ==94:
            print (i1)
            print (i2)

23
12